# Created By: Ataib Saboor

### [My Github](https://github.com/ataibsaboor04)

# Basic Syntax of Python

## Variables

In [1]:
# A Python variable is a reserved memory location to store values.
# In other words, a variable in a python program gives data to the computer for processing.
# Every variable in Python has a datatype. 
# Every variable holds a value, which is the information associated with that variable.

### Coventions for Naming Variables

In [2]:
# Variables can be declared by any name or even alphabets but conventions given below must be
# followed.
# Variables names must start with a letter or an underscore, but not with a number.
# The variable name may consist of letters, numbers and underscores.
# Names are case sensitive. 
# Spaces are not allowed in variable names
# Avoid using Python keywords and function names as variable names
# Variable names should be short but descriptive.

In [3]:
# few examples of variable are:
num = 45
name = "Yasir"
marks = 94.5

## Data Types

### Strings

In [4]:
# A string is simply a series of characters. 
# Anything inside quotes is considered a string in Python
string = "Hello, World!" # strings are immutable meaning not changeable

#### Strings Methods

In [5]:
# follow some basic strings methods illustrated below

In [6]:
string.upper()

'HELLO, WORLD!'

In [7]:
string.lower()

'hello, world!'

In [8]:
string.capitalize()

'Hello, world!'

In [9]:
string.title()

'Hello, World!'

In [10]:
string.count('o')

2

In [11]:
string.index('r') # index means the position of that string 
# note that indexing starts at zero

9

In [12]:
string = "  Hello, World!      "
string.strip()

'Hello, World!'

In [13]:
string.replace('o', '0')

'  Hell0, W0rld!      '

#### Concatenation

In [14]:
# + sign is used to concatenate or combine strings
fruit = 'mangoes'
string = 'i like ' + fruit
print(string)

i like mangoes

#### Strings Formating

In [15]:
# there are two methods for formating strings

In [16]:
string = 'i like {}'.format(fruit)
print(string)

i like mangoes

In [17]:
string = f'i like {fruit}'
print(string)

i like mangoes

#### Split and Join

In [18]:
"The quick brown fox jumps over the lazy dog.".split()

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [19]:
"The quick brown fox jumps over the lazy dog.".split('h')

['T', 'e quick brown fox jumps over t', 'e lazy dog.']

In [20]:
" ".join(["red", "blue", "green"])

'red blue green'

In [21]:
" -- ".join(['apple', 'mango', 'banana'])

'apple -- mango -- banana'

#### Indexing and Slicing

In [22]:
# indexing and slicing is done be using square brackets
greeting = "Hello, world!"
greeting[0] # indexing starts at zero

'H'

In [23]:
greeting[3] # indexing the 4th element

'l'

In [24]:
greeting[0:2] # slicing the string starting at 0 index and ends at 1 index

'He'

In [25]:
greeting[1:4] # slicing the string starting at 1 index and ends at 3 index

'ell'

In [26]:
greeting[-1] # last character can be accessed by using index -1

'!'

In [27]:
new_greeting = 'J' + greeting[1:]
print(new_greeting)
print(greeting)

Jello, world!
Hello, world!

In [28]:
# example is illustrated below
phrase = "many moons"
phrase_expanded = phrase + " and many stars"
phrase_larger = phrase_expanded + " litter"
phrase_complete = "M" + phrase_larger[1:] + "the night sky."
excited_phrase_complete = phrase_complete[:-1] + "!"
print(excited_phrase_complete)

Many moons and many stars litterthe night sky!

### Integers

In [29]:
integer = 10 # integers are whole numbers ranging from negative to positive

### Floats

In [30]:
float_ = 5.43 # floats are decimal numbers

### Lists

In [31]:
# A list is a collection of items in a particular order. 
# lists are defined in square brackets and can contain elements/items of any data type
list_ = ['a', 'b', 'c', 'd', 'e'] # lists are iterable and mutable

#### Lists Methods

In [32]:
# following are some important lists methods

In [33]:
list_.append('a') # append method adds any data into the end of a list
list_

['a', 'b', 'c', 'd', 'e', 'a']

In [34]:
list_.count('a')

2

In [35]:
list_.extend(['g', 'h'])
list_

['a', 'b', 'c', 'd', 'e', 'a', 'g', 'h']

In [36]:
list_.index('d')

3

In [37]:
list_.insert(6, 'f')
list_

['a', 'b', 'c', 'd', 'e', 'a', 'f', 'g', 'h']

In [38]:
list_.pop() # remove and return the last element of a list

'h'

In [39]:
list_.remove('a')
list_

['b', 'c', 'd', 'e', 'a', 'f', 'g']

In [40]:
list_.reverse()
list_

['g', 'f', 'a', 'e', 'd', 'c', 'b']

In [41]:
list_.sort()
list_

['a', 'b', 'c', 'd', 'e', 'f', 'g']

#### Accessing Elements of Lists

In [42]:
# Lists are ordered collections, so you can access any element in a list by telling Python the 
# position, or index, of the item desired. To access an element in a list, write the name of the 
# list followed by the index of the item enclosed in square brackets.

In [43]:
list_[1] # second item of the list

'b'

In [44]:
list_[-3] # third last item of the list

'e'

In [45]:
# we can change the element at any index like this
list_[0] = 'A'
list_

['A', 'b', 'c', 'd', 'e', 'f', 'g']

#### Concatenation

In [46]:
# + operator is used for concatenating or combining lists
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
lst1 + lst2

[1, 2, 3, 4, 5, 6]

#### Slicing

In [47]:
list_[:3] # slicing the list from index 0 to index 2

['A', 'b', 'c']

In [48]:
list_[2:-1] # slicing the list from index 2 to last index

['c', 'd', 'e', 'f']

In [49]:
list_[:] # slicing the whole list

['A', 'b', 'c', 'd', 'e', 'f', 'g']

### Tuples

In [50]:
# tuples are defined in parentheses or round brackets and can countain elements/items of any data type
tuple_ = ('a', 'b', 'c', 'd', 'e') # tuples are iterable but immutable

#### Tuples Methods

In [51]:
tuple_.count('e')

1

In [52]:
tuple_.index('e')

4

#### Accessing Elements of Tuples

In [53]:
# tuples are ordered collections, so you can access any element in a tuple by telling Python the 
# position, or index, of the item desired. To access an element in a tuple, write the name of the 
# tuple followed by the index of the item enclosed in square brackets.
# Note: tuples are immutable

In [54]:
tuple_[1] # second element of the tuple

'b'

In [55]:
tuple_[-2] # second last element of the tuple

'd'

#### Concatenation

In [56]:
# + operator is used for concatenating or combining lists
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup1 + tup2

(1, 2, 3, 4, 5, 6)

####  Slicing

In [57]:
tuple_[2:4] # slicing from index 2 to index 3

('c', 'd')

In [58]:
tuple_[-3:] # slicing last three elements of the tuple

('c', 'd', 'e')

In [59]:
tuple_[:] # slicing the whole tuple

('a', 'b', 'c', 'd', 'e')

### Sets

In [60]:
# sets are defined in curly brackets and can contain elements/items of any data type
set_ = {'a', 'b', 'c'} # sets are iterable and mutable but have no duplicate elements

#### Sets Methods

In [61]:
set_.add('d')
set_

{'a', 'b', 'c', 'd'}

In [62]:
set1 = set_.copy()

In [63]:
set_.pop()

'd'

In [64]:
set1.difference(set_)

{'d'}

In [65]:
set1.union(set_)

{'a', 'b', 'c', 'd'}

In [66]:
set1.intersection(set_)

{'a', 'b', 'c'}

### Dictionaries

In [67]:
# dictionaries are defined in curly brackets containing a key-value pair
# keys can be any immutable data type and values can contain any data type
dictionary = {('a', 'b'):'A', 1:'Cat', "Kite": 2.5} # dictionaries have key-value pairs

#### Dictionaries Methods

In [68]:
dictionary.get('Dog', 0)

0

In [69]:
dictionary.items()

dict_items([(('a', 'b'), 'A'), (1, 'Cat'), ('Kite', 2.5)])

In [70]:
dictionary.keys()

dict_keys([('a', 'b'), 1, 'Kite'])

In [71]:
dictionary.pop("Kite")

2.5

In [72]:
dictionary.values()

dict_values(['A', 'Cat'])

### Check Data Type

In [73]:
# type function can be used to check the data type
# we are using the variables defined above to illustrate

In [74]:
print(type(string))

<class 'str'>

In [75]:
print(type(integer))

<class 'int'>

In [76]:
print(type(float_), type(2e9))

<class 'float'> <class 'float'>

In [77]:
print(type(list_))

<class 'list'>

In [78]:
print(type(tuple_))

<class 'tuple'>

In [79]:
print(type(set_))

<class 'set'>

In [80]:
print(type(dictionary))

<class 'dict'>

### Change Data Type / Type Casting

In [81]:
# we use int, str, float, list and tuple keyword to change the type of any variable
# some examples are illustrated below

In [82]:
# convert into an integer
print(int(3.14))
print(int('63'))

3
63

In [83]:
# convert into a float
print(float(3))
print(float('63.9342'))

3.0
63.9342

In [84]:
# convert into a string
print(str(83))
print(str(23.42))

83
23.42

In [85]:
# convert into a list
print(list((1, 2, 3)))
print(list("Ataib"))

[1, 2, 3]
['A', 't', 'a', 'i', 'b']

In [86]:
# convert into a tuple
print(tuple([1, 2, 3]))
print(tuple("Pakistan"))

(1, 2, 3)
('P', 'a', 'k', 'i', 's', 't', 'a', 'n')

In [87]:
# convert into a set
print(set(tuple("waterbaloon")))
print(set(list("waterbaloon")))
print(set("water"))

{'w', 't', 'a', 'n', 'o', 'r', 'l', 'b', 'e'}
{'w', 't', 'a', 'n', 'o', 'r', 'l', 'b', 'e'}
{'w', 't', 'a', 'r', 'e'}

## Mathematical Operations

In [88]:
# Addition
20+30

50

In [89]:
# Subtraction
30-20

10

In [90]:
# Multiplication
2*3

6

In [91]:
# Division  (answer in float)
2/10

0.2

In [92]:
# Division    (answer in integer)
2//10

0

In [93]:
# Remainder (% is called modulus)
13%2

1

In [94]:
# Power
4**3

64

In [95]:
# Exponent
2e5

200000.0

## Built-In Functions

### Print

In [96]:
print("Hello, World!") # print function takes any data type and display it on the screen

Hello, World!

In [97]:
print(90)

90

In [98]:
print(['a', 'b', 'c'])

['a', 'b', 'c']

In [99]:
print("haris", "rauf", sep='_')

haris_rauf

In [100]:
print("Pakistan", end=' ')
print("Zindabad", end='')

Pakistan Zindabad

### Input

In [101]:
# input function takes input from the user and returns that string
# note that input always return a string even if you typed in a integer
# some examples are illustrated below
# all the four cells below does the same work

In [102]:
name = input("what's your name?\n")
print("hello, " + name) # this is called string concatenations

what's your name?
Ataib
hello, Ataib

In [103]:
name = input("what's your name?\n")
print("hello,", name) # here we put the variable name as another argument of the print function

what's your name?
Ataib
hello, Ataib

In [104]:
name = input("what's your name?\n") 
print("hello, {}".format(name)) # this is a method of string formating

what's your name?
Ataib
hello, Ataib

In [105]:
name = input("what's your name?\n")
print(f"hello, {name}") # this is another method of string formating

what's your name?
Ataib
hello, Ataib

In [106]:
# an example of basic mathematical operations and input function is described in the cell below

In [107]:
print("Enter the number of seconds you want to convert to hours and minutes")
str_seconds = input("Seconds: ")
total_secs = int(str_seconds)

hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes =  secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining  % 60

print(hours, "Hours", minutes, "minutes", "and", secs_finally_remaining, "seconds")

Enter the number of seconds you want to convert to hours and minutes
Seconds: 56243
15 Hours 37 minutes and 23 seconds

### Len

In [109]:
# len function can be used to check the length of strings, lists, dictionaries and other data types.

In [110]:
len('Hello World!') # len function counts the letters of the string including spaces

12

In [111]:
len([2, 'ABC', 83.2, [1, 3]]) # len function counts the items in a list

4

In [112]:
len((3, 4, 'Ball')) # len function counts the items in a list

3

## Loops

In [113]:
# loops can be created to do a task various number of times

### For Loops

In [114]:
# for loops can be used as follows

In [115]:
for _ in range(3):
    print('Hello!')

Hello!
Hello!
Hello!

In [116]:
for name in ["Abdullah", "Haris", "Hammad", "Shaeel", "Safeer", "Talha", "Ali"]:
    print("Assalam u Alaikum!", name)

Assalam u Alaikum! Abdullah
Assalam u Alaikum! Haris
Assalam u Alaikum! Hammad
Assalam u Alaikum! Shaeel
Assalam u Alaikum! Safeer
Assalam u Alaikum! Talha
Assalam u Alaikum! Ali

In [117]:
for char in 'Pakistan':
    print(char, end=' ')

P a k i s t a n

In [118]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum = 0
for n in nums:
    accum = accum + n
print(accum)

55

In [119]:
accum = 0
for n in range(1,11):
    accum += n
print(accum)

55

In [120]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for w in nums:
    count = count + 1
print(count)

10

In [121]:
fruit = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(len(fruit)):
    print(n, fruit[n])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [122]:
for counter, item in enumerate(fruit):
    print(counter, item)

0 apple
1 pear
2 apricot
3 cherry
4 peach

## Conditions

### Boolean Expressions

In [123]:
# expressions that returns a bool value i.e. True or False like mathematical conditions
# x != y               # x is not equal to y
# x > y                # x is greater than y
# x < y                # x is less than y
# x >= y               # x is greater than or equal to y
# x <= y               # x is less than or equal to y

In [124]:
4 > 3

True

In [125]:
10 == 10

True

In [126]:
5 != 9

True

In [127]:
'Apple' != 'apple'

True

In [128]:
'Fish' == 'fishes'

False

### In and Not In

In [129]:
'a' in 'Pakistan'

True

In [130]:
'r' not in 'Europe'

False

In [131]:
'Water' in ['Air', 'Fire', 'Water', 'Earth']

True

### Is and Is Not

In [132]:
x = ['A', 'B']
y = ['A', 'B']
x is y

False

In [133]:
x = ['A', 'B']
y = x
x is y

True

In [134]:
x = ['A']
y = ['A']
x is not y

True

In [135]:
a = [81,82,83]
b = a[:]       # make a clone using slice
print(a == b)
print(a is b)

True
False

In [136]:
g = [4,2,8,6,5]
h = g * 1
print(g==h)
print(g is h)

True
False

### Logical Operators

In [137]:
# in 'and' operator the expression is true if both values are true
# in 'or' operator the expression is true if any one value is true
# in 'not' operator the expression is true if value is false

In [138]:
x = 5
print(x>0 and x<10)

True

In [139]:
n = 25
print(n%2 == 0 or n%3 == 0)

False

In [140]:
p = 34
print(not p>30)

False

### If, Elif and Else Conditions

In [141]:
x = 15
if x % 2 == 0:
    print(x, "is even")
else:
    print(x, "is odd")

15 is odd

In [142]:
# this is the example of nested conditions in which a condition also contains a condition
x = 10
y = 10

if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

x and y must be equal

In [143]:
x = 10
y = 10

if x < y:
    print("x is less than y")
elif x > y:
    print("x is greater than y")
else:
    print("x and y must be equal")

x and y must be equal

In [144]:
percent_rain = [94.3, 45, 100, 78, 16, 5.3, 79, 86]
resps = []
for x in percent_rain:
    if x < 90:
        resps.append("Bring an umbrella.")
    elif x < 90 and x >80:
        resps.append("Good for the flowers?")
    elif x > 50:
        resps.append("Watch out for clouds!")
    else:
        resps.append("Nice day!")
print(resps)

['Watch out for clouds!', 'Bring an umbrella.', 'Watch out for clouds!', 'Bring an umbrella.', 'Bring an umbrella.', 'Bring an umbrella.', 'Bring an umbrella.', 'Bring an umbrella.']

In [145]:
phrase = "What a wonderful day to program"
tot = 0
for char in phrase:
    if char != " ":
        tot = tot + 1
print(tot)

26

In [146]:
s = "what if we went to the zoo"
x = 0
for i in s:
    if i in ['a', 'e', 'i', 'o', 'u']:
        x += 1
print(x)

8

In [147]:
nums = [9, 3, 8, 11, 5, 29, 2]
best_num = nums[0]
for n in nums:
    if n > best_num:
        best_num = n
print(best_num)

29

In [148]:
# determine how many words in sentence start and end with the same letters.
sentence = "students flock to the arb for a variety of outdoor activities such as jogging and picnicking"
same_letter_count = 0
y = sentence.split()
for x in y:
    
    for z in y:
        if z != x:
            if z[0] == x[0] and z[-1] == x[-1]:
                same_letter_count += 1
same_letter_count

2